<included>
    <!-- put your appenders -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} %highlight([%-5level]) [%thread] %magenta([%logger]) - %m%n</Pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- put your loggers here -->
    <logger name="org.springframework.web" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="com.project.tour" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- put your root here -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</included>