<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.tour.mapper.ContentMapper">
<!--
    <resultMap id="TotContent" type="com.project.tour.domain.Content">
        <association property=""
    </resultMap>
    -->

    <select id="selectAllContent" parameterType="string" resultType="com.project.tour.domain.Content">
SELECT
    A.SEQ AS seq,
        A.TITLE AS title,
        A.DESCRIPTION AS description,
        A.LANG AS lang,
        A.CREATE_DT AS createDt,
        A.UPDATE_DT AS updateDt,
        A.DEL_YN AS delYn,
        B.MIME_TP AS mimeTp
FROM TB_CONTENT A
         LEFT JOIN TB_STORAGE B ON A.SEQ = B.CON_SEQ
WHERE 1=1
  AND A.LANG = #{lang}
    </select>


</mapper>