<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.tour.mapper.ContentMapper">

    <resultMap id="contentResult" type="com.project.tour.domain.Content">
        <collection property="storageList" javaType="ArrayList" column="seq"
                    ofType="com.project.tour.domain.Storage" select="selectContentForStorage"/>
    </resultMap>

    <select id="selectContent" resultMap="contentResult" parameterType="com.project.tour.domain.Content">
        SELECT *
        FROM TB_CONTENT
        WHERE 1 = 1
        <if test="lang != null and lang != ''">
            AND LANG = #{lang}
        </if>
        <if test="seq != null and seq != ''">
            AND SEQ = #{seq}
        </if>
    </select>

    <select id="selectContentForStorage" resultType="com.project.tour.domain.Storage">
        SELECT *
        FROM TB_STORAGE
        WHERE con_seq = #{seq}
    </select>

    <insert id="insertContent" parameterType="com.project.tour.domain.Content">
        INSERT INTO TB_CONTENT (title, description, lang)
        VALUES (#{title}, #{description}, #{lang})
        <selectKey keyProperty="seq" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertStorage" parameterType="com.project.tour.domain.Storage">

        INSERT INTO TB_STORAGE (con_seq, file_size, file_path, file_nm, real_file_nm, file_ext, running_sec,
                                file_status, mime_tp)
        VALUES
        <foreach collection="list" item="item" separator=" , ">
            (#{item.conSeq}, #{item.fileSize}, #{item.filePath}, #{item.fileNm}, #{item.realFileNm}, #{item.fileExt}, #{item.runningSec},
            #{item.fileStatus}, #{item.mimeTp})
        </foreach>
    </insert>

    <update id="updateRegion" parameterType="com.project.tour.domain.Content">
        UPDATE tb_content
        SET
        update_dt = CURRENT_TIMESTAMP()
        <if test="title != null and title != ''">
            , title = #{title}
        </if>
        <if test="description != null and description != ''">
            , description = #{description}
        </if>
        <if test="lang != null and lang != ''">
            , lang = #{lang}
        </if>
        WHERE SEQ = #{seq}
        AND DEL_YN != 'Y'
    </update>

</mapper>